<footer class="wrapp-footer">
    <div class="container">
        <div class="footer-block">
            <p class="footer-copy">Copyright &copy; 2017  Все права защищены.</p>
        </div>
        <div class="footer-block">
            <div class="footer-logo">
                <a href="//www.free-kassa.ru/"><img src="//www.free-kassa.ru/img/fk_btn/6.png"></a>
            </div>
        </div>
        <div class="footer-block">
            <h3 class="footer-soc-title">Мы в соцсетях</h3>
            <ul class="footer-soc-list">
                <li>
                    <a href="#">
                        <img src="/images/soc_icon-01.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/soc_icon-02.png" alt="">
                    </a>
                </li>
            </ul>
        </div>

    </div>
</footer>

<div class="wrapperPreloader">
    <div id="preloader"></div>
</div>