<!DOCTYPE html>
<html>

	<head>
	    <title>Команда Cash-roulete.com</title>
	</head>

	<body>
	    <h3>Привет, геймер!</h3>
	    <p>Ты попытался восстановить забытый пароль.</p>
	    <p>Твой логин <strong><%= username %></strong> и пароль - <strong><%= password %></strong></p>
	    <p>&nbsp;</p>
	    <p>С уважением,</p>
	    <p><strong>Команда Cash-roulete.com</strong></p>
	</body>

</html>